.bgcolor {
  height: 2124px;
  background-color: $background-color;
  position: relative;
  z-index: 0;
  .container {
    max-width: $max-width;
    .subheader {
      font-family: $font-family;
      color: $purplepalettecolor;
      width: 160px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 82px 1383px 81px 0px;
      a {
        color: $purplepalettecolor;
      }
    }
  }
}
