$max-width: 1170;
$background-color:#f5f9ff;
$purplepalettecolor: #820bc6;
$graytext:#7c7d8d;
$graycolor:#abadb0;
$cardl:337px;
$cardr:375px;
$font-size:16px;
$color-white:#ffffff;
$colorwhitetone: #e6e8f6;
$imgwidth:72px;
$imgheight:72px;
$rectanglew:283px;
$rectangleh:304px;
$pagesheight:2014px;
$flinkcolor: #263035;
$bwidth: 110px;
$bheight: 30px;
$jmarginl: 100px;
$imgWidth: 370px;
$imgHeight: 215px;
$imgBorder: 5px;
$emailplchldr:#979ea5;
$colorblack: #000000;
$radius:5px;
$font-family:'averta',Arial, sans-serif;;
$number15:15px;
$number20:20px;
$top:140px;
$fontsize:17px;
$arrow-size: 1em;
$arrow-border: 0.2em;